<div class="container-fluid" style="background-color: #f7f8f9;">
  <footer>
    <div class="row">
      <div class="col-md-12" style="text-align: center;">
        <h3 class="mt-5" style="font-family: Poppins,sans-serif;font-size: 2rem;
        font-weight: 900;color: #45505b;">Manoj Kapasia</h3>
        <p style="color: #45505b;font-size: 0.9rem;font-style: italic;">
          Let's connect to acheive some better output together.
        </p>
        <div class="socialMedia mt-5">
          <!-- <i class="fa fa-twitter abcd" aria-hidden="true"></i>
          <i class="fa fa-instagram mx-2" aria-hidden="true"></i>
          <i class="fa fa-skype me-2" aria-hidden="true"></i>
          <i class="fa fa-linkedin" aria-hidden="true"></i> -->
          <a href="https://twitter.com/DevNitinKumar" target="_blank" class="twitter">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/_nitinjangra/" target="_blank" class="instagram mx-4">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
          <a href="https://join.skype.com/invite/yYpmGFhEaoZ7" target="_blank" class="google-plus me-4">
            <i class="fa fa-skype" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/nitin-jangra-285479131/" target="_blank" class="linkedin">
            <i class="fa fa-linkedin"  aria-hidden="true"></i>
          </a>
        </div>
        <p class="my-5" style="font-size: 0.9rem;color: #45505b;">&copy;Copyright <strong>My Portfolio</strong> All Rights Reserved</p>
      </div>
    </div>
  </footer>
</div>
