<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-11 offset-md-1 pe-0.5 pe-md-5 ps-0.5 ps-md-5"  data-aos="fade-right">
      <h2 class="contactHeading">ABOUT</h2>
      <hr class="mt-3" style="width:2rem;margin: auto;border: 0.15rem solid #0563bb; margin-bottom: -0.20rem;">
      <hr style="width: 6.5rem;margin: auto;">
      <p class="mt-3" style="text-align: center;">A successful website does three things: It attracts the right kinds of
        visitors.
        Guides them to the main services or products you offer. Collect Contact details for future ongoing relation.
      </p>
      <div class="row">
        <div class="col-md-5">
          <img src="/assets/logoImage/webDevloper.jpg" style="height:100%;width: 100%;" class="rounded" alt="...">
        </div>
        <div class="col-md-7 mt-3 mt-md-0">
          <h3 style="    color: #728394;font-size: 26px;font-weight: 700;font-family: Raleway,sans-serif;">Web Designer
            & Developer.</h3>
          <p style="font-style: italic;">I’m an Full Stack MEARN developer who is passionate about bringing client’s
            visions to life.
            Since establishing my web development career in 2018, I have managed over 10-15 projects for a
            dimverse client base, which includes multi-million-pound businesses and sole traders. I’m proud
            that my web development work has helped my clients to grow their businesses and generate more
            revenue. If you would like to know more about my web development services, please take a look at
            my website, which is detailed below. Alternatively, check out images of some of the websites
            I have created in my portfolio section.</p>
          <div class="row">
            <div class="col-md-6">
              <div style="margin-bottom: 1rem;">
                <i class="fa fa-angle-right iconFont" aria-hidden="true"></i>
                <strong style="font-size: 1.1rem;">Birthday:</strong>
                <label style="white-space: nowrap;margin-left: 0.7rem;">16 Jan 1996</label>
              </div>


              <div style="margin-bottom: 1rem;">
                <i class="fa fa-angle-right iconFont" aria-hidden="true"></i>
                <strong style="font-size: 1.1rem;">Website:</strong>
                <label style="white-space: nowrap;margin-left: 0.7rem;">https://nitin-jangra.netlify.app</label>
              </div>

              <div style="margin-bottom: 1rem;">
                <i class="fa fa-angle-right iconFont" aria-hidden="true"></i>
                <strong style="font-size: 1.1rem;">Phone:</strong>
                <label style="white-space: nowrap;margin-left: 0.7rem;">+91 9874563210</label>
              </div>

              <div style="margin-bottom: 1rem;">
                <i class="fa fa-angle-right iconFont" aria-hidden="true"></i>
                <strong style="font-size: 1.1rem;">City:</strong>
                <label style="white-space: nowrap;margin-left: 0.7rem;">Panipat, Haryana (IN)</label><br>
              </div>

              <div>
                <i class="fa fa-angle-right iconFont" aria-hidden="true"></i>
                <strong style="font-size: 1.1rem;">Total Exp:</strong>
                <label style="white-space: nowrap;margin-left: 0.7rem;">4 years</label>
              </div>
            </div>
              <div class="col-md-6">
                <div style="margin-bottom: 1rem;">
                  <i class="fa fa-angle-right iconFont" aria-hidden="true"></i>
                  <strong style="font-size: 1.1rem;">Age:</strong>
                  <label style="white-space: nowrap;margin-left: 0.7rem;">26</label>
                </div>

                <div style="margin-bottom: 1rem;">
                  <i class="fa fa-angle-right iconFont" aria-hidden="true"></i>
                  <strong style="font-size: 1.1rem;">Degree:</strong>
                  <label style="white-space: nowrap;margin-left: 0.7rem;">Bachelor of Tech in CSE</label>
                </div>

                <div style="margin-bottom: 1rem;">
                  <i class="fa fa-angle-right iconFont" aria-hidden="true"></i>
                  <strong style="font-size: 1.1rem;">Email:</strong>
                  <label style="white-space: nowrap;margin-left: 0.7rem;">nkJangra1359@gmail.com</label>
                </div>

                <div>
                  <i class="fa fa-angle-right iconFont" aria-hidden="true"></i>
                  <strong style="font-size: 1.1rem;">Freelance:</strong>
                  <label style="white-space: nowrap;margin-left: 0.7rem;">Available</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row my-5" data-aos="fade-left">
      <div class="col-md-11 offset-md-1 pe-0.5 pe-md-5 ps-0.5 ps-md-5 text-center">
        <h2 class="contactHeading">FACTS</h2>
        <hr class="mt-3" style="width:2rem;margin: auto;border: 0.15rem solid #0563bb; margin-bottom: -0.20rem;">
        <hr style="width: 6rem;margin: auto;">
        <p class="mt-3">Everything I do is dedicated & committed to providing my clients the best possible
          return on investment & positioning on the market. I am also dedicated to keeping you in the
          loop every step of the way. I offer detailed updates throughout the app & web development process.
        </p>
        <div class="row mt-5">
          <div class="col-6 col-lg-3">
            <i class="fa fa-smile-o aboutIcon" aria-hidden="true"></i><br>
            <span style="color: #011426;font-size: 2.7rem;font-weight: 600;" [countUp]="count1"
              [duration]="duration1"></span>
            <p style="font-family: Raleway,sans-serif;font-size: 0.9rem;">Happy Clients</p>
          </div>
          <div class="col-6 col-lg-3">
            <i class="fa fa-file-text aboutIcon" aria-hidden="true"></i><br>
            <span style="color: #011426;font-size: 2.7rem;font-weight: 600;" [countUp]="count2"
              [duration]="duration2"></span>
            <p style="font-family: Raleway,sans-serif;font-size: 0.9rem;">Project</p>
          </div>
          <div class="col-6 col-lg-3">
            <i class="fa fa-headphones aboutIcon" aria-hidden="true"></i><br>
            <span style="color: #011426;font-size: 2.7rem;font-weight: 600;" [countUp]="count3"
              [duration]="duration3"></span>
            <p style="font-family: Raleway,sans-serif;font-size: 0.9rem;">Hours Of Support</p>
          </div>
          <div class="col-6 col-lg-3">
            <i class="fa fa-trophy aboutIcon" aria-hidden="true"></i><br>
            <span style="color: #011426;font-size: 2.7rem;font-weight: 600;" [countUp]="count4"
              [duration]="duration4"></span>
            <p style="font-family: Raleway,sans-serif;font-size: 0.9rem;">Awards</p>
          </div>
        </div>
      </div>
    </div>


    <div class="row" data-aos="fade-up">
      <div class="col-md-11 offset-md-1 pe-0.5 pe-md-5 ps-0.5 ps-md-5">
        <h2 class="contactHeading">SKILLS</h2>
        <hr class="mt-3" style="width:2rem;margin: auto;border: 0.15rem solid #0563bb; margin-bottom: -0.15rem;">
        <hr style="width: 6rem;margin: auto;">
        <p class="mt-3" style="text-align: center;">An innovative thinker, initiative taker and multi dimensional
          professional with
          exceptional logical and analytical skills possesses 4+ years experience as a computer science
          engineer. Experience in designing, developing, implementing and testing computer-based software.
        </p>
        <div class="row">
          <div class="col-md-6" *ngFor="let data of skillSet">
            <div class="mb-3 position-relative">
              <em style="color: #45505b;font-weight: 600;font-size: .75rem;">{{data.label}}</em>
              <span class="position-absolute top-0 end-0">{{data.value}}%</span>
              <progressbar [value]="data.value" class="mt-2" style="height: 0.5rem; color: #0563bb;" [striped]="true"
                [animate]="true"></progressbar>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
