<div id="sect1"class="container-fluid">
  <div style="padding-top: 38vh;">
    <div class="row" style="width: 100%;" data-aos="zoom-in-right">
      <div class="col-md-11 offset-md-1 textCenter" >
        <h3 style="color: #45505b;">Manoj Kapasia</h3>
        <ngx-typed-js [strings]="['web Developer.', 'Freelancer.', 'MEAN Stack Developer.']" [shuffle]="true"
      [typeSpeed]="100" [loop]="true">
      <p style="color: #45505b;font-family: Poppins,sans-serif;font-size: 1.5rem;">
      I'm <span class="typing" style="color:#0563bb;"></span></p>
    </ngx-typed-js>
      <a href="https://twitter.com/DevNitinKumar" target="_blank" class="twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="https://www.instagram.com/_nitinjangra/" target="_blank" class="instagram mx-4">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="https://join.skype.com/invite/yYpmGFhEaoZ7" target="_blank" class="google-plus me-4">
        <i class="fa fa-skype" aria-hidden="true"></i>
      </a>
      <a href="https://www.linkedin.com/in/nitin-jangra-285479131/" target="_blank" class="linkedin">
        <i class="fa fa-linkedin"  aria-hidden="true"></i>
      </a>
      </div>
    </div>
  </div>
</div>


