<div class="container-fluid" data-aos="flip-left">
  <div class="row">
    <div class="col-md-11 offset-md-1 pe-0.5 pe-md-5 ps-0.5 ps-md-5">
      <h2 class="contactHeading text-center">RESUME</h2>
      <hr class="mt-3" style="width:2.3rem;margin: auto;border: 0.15rem solid #0563bb; margin-bottom: -0.20rem;">
      <hr style="width: 8rem;margin: auto;">
      <p class="mt-3 text-center">MEARN Stack specialist with 4+ years of experience in helping
        medium to large corporations developing softwares/products.
      </p>

      <div class="row mt-5">
        <div class="col-md-6">
          <h3 class="heading">Sumary</h3>
            <div style="display: inline-flex;">
              <div>
                <div class="dot"></div>
                <div class = "vertical"></div>
              </div>
              <div style="margin-left: 1rem;">
                <h4 class="subHeading">NITIN JANGRA</h4>
                <em>Innovative and deadline-driven MEARN Stack Developer with 4+ years of experience
                  designing and developing user-centered digital/print marketing material from initial
                  concept to final, polished deliverable.
                </em>
    
                <ul class="my-3">
                  <li>Panipat, Haryana IN</li>
                  <li class="my-2">(+91) 9874563210</li>
                  <li>nkJangra911359@gmail.com</li>
                </ul>
              </div>
            </div>
    
            <h3 class="heading mt-3">Education</h3>
            <div style="display: inline-flex;">
              <div>
                <div class="dot"></div>
                <div class = "vertical"></div>
              </div>
              <div style="margin-left: 1rem;">
                <h4 class="subHeading">BACHELOR OF TECHNOLOGY (COMPUTER SCIENCE & ENGG)</h4>
                <h5 class="heading5">2014-2018</h5><br>
                <em>UIET, Kurukshetra University, HR</em>
                <p class="mt-3">Completed the Bachelor degree in CSE with 8 CGPA.</p>
              </div>
            </div>
    
            <div style="display: inline-flex;">
              <div>
                <div class="dot"></div>
                <div class = "vertical"></div>
              </div>
              <div style="margin-left: 1rem;">
                <h4 class="subHeading">SENIOR SECONDARY EXAMINATION</h4>
                <h5 class="heading5">2013-2014</h5><br>
                <em>Geeta Sr Sec School, Samalkha, HR</em>
                <p class="mt-3">Completed the senior secondary examination in Science Stream with 86%.</p>
              </div>
            </div>
    
            <div style="display: inline-flex;">
              <div>
                <div class="dot"></div>
                <div class = "vertical"></div>
              </div>
              <div style="margin-left: 1rem;">
                <h4 class="subHeading">SECONDARY EXAMINATION</h4>
                <h5 class="heading5">2011-2012</h5><br>
                <em>Geeta Sr Sec School, Samalkha, HR</em>
                <p class="mt-3">Completed the secondary examination with 95%.</p>
              </div>
            </div>
        </div>
        <div class="col-md-6 mt-3 mt-md-0">
          <h3 class="heading">Professional Experience</h3>
          <div style="display: inline-flex;">
            <div>
              <div class="dot"></div>
              <div class = "vertical"></div>
            </div>
            <div style="margin-left: 1rem;">
              <h4 class="subHeading">SENIOR SOFTWARE ENGINEER</h4>
              <h5 class="heading5">March 2022 - Present</h5><br>
              <em>Neosoft Technologies (CMMI 5), Noida, UP</em>
              <ul class="my-3">
                <li>Lead in the design, development, and implementation
                  of the website and production communication materials.
                </li>
                <li class="my-2">Delegate tasks to the 3 members of the development team
                  and provide counsel on all aspects of the project.
                </li>
                <li>Supervise the assessment of all design/development materials
                  in order to ensure quality and accuracy of the design.
                </li>
              </ul>
            </div>
          </div>
    
          <div style="display: inline-flex;">
            <div>
              <div class="dot"></div>
              <div class = "vertical"></div>
            </div>
            <div style="margin-left: 1rem;">
              <h4 class="subHeading">SOFTWARE ENGINEER</h4>
              <h5 class="heading5">Jan 2020 - March 2021</h5><br>
              <em>SmartData Enterprises Ltd, Mohali, PB</em>
              <ul class="my-3">
                <li>Developed news channel website programs named Transport TV (videos and advertisements).</li>
                <li class="my-2">Recommended and consulted with clients for the daily reports</li>
                <li>Created an application to remove drug addictions.</li>
              </ul>
            </div>
          </div>
    
          <div style="display: inline-flex;">
            <div>
              <div class="dot"></div>
              <div class = "vertical"></div>
            </div>
            <div style="margin-left: 1rem;">
              <h4 class="subHeading">SOFTWARE ENGINEER</h4>
              <h5 class="heading5">Aug 2018 - Jan 2021</h5><br>
              <em>Kayosys, Mohali, PB</em>
              <ul class="my-3">
                <li>Developed numerous websites & APIs for app.</li>
                <li class="mt-2">Handled the projects from start to end single handedly with meeting deadlines.</li>
                <!-- <li>Created an application to remove drug addictions.</li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
