<!-- <app-header></app-header>
<app-home></app-home>
<app-about></app-about>
<app-resume></app-resume>
<app-portfolio></app-portfolio>
<app-services></app-services>
<app-contact></app-contact>
<app-footer></app-footer> -->

<app-header></app-header>
<app-home id="home"></app-home>
<app-about id="about"></app-about>
<app-resume id="resume"></app-resume>
<app-portfolio id="portfolio"></app-portfolio>
<app-services id="services"></app-services>
<app-contact id="contact"></app-contact>
<app-footer></app-footer>
